* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 179, 255);
    font: normal 18pt Arial;
}

header {
    color: white;
    text-align: center;
    margin: 20px 0;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

section div {
    text-align: center;
    padding: 8px;
}

#foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
